# Recruitment project
### Author: Dawid Boraty≈Ñski
### Date: 2026-02-11
### Chcek out my another projects on Website: https://bit.ly/dawidboratynski

In [4]:
import pandas as pd
from solution import add_virtual_column

In [5]:
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

In [6]:
df

   A  B
0  1  4
1  2  5
2  3  6

In [7]:
df = add_virtual_column(df, 'A + B', 'C')
df

   A  B  C
0  1  4  5
1  2  5  7
2  3  6  9

In [8]:
df = add_virtual_column(df, 'A - C', 'D')
df

   A  B  C  D
0  1  4  5 -4
1  2  5  7 -5
2  3  6  9 -6

In [9]:
df = add_virtual_column(df, 'A * D', 'E')
df

   A  B  C  D   E
0  1  4  5 -4  -4
1  2  5  7 -5 -10
2  3  6  9 -6 -18

In [10]:
import pytest

In [11]:
pytest.main(['-v', 'test_virtual_column.py'])

============================= test session starts =============================
platform win32 -- Python 3.10.11, pytest-9.0.2, pluggy-1.6.0 -- c:\Users\Dawid\AppData\Local\Programs\Python\Python310\python.exe
cachedir: .pytest_cache
rootdir: c:\INNE\EDUKAJCA\IT\Zadanie_Rekrutacyjne
plugins: anyio-4.12.0
collecting ... collected 6 items

test_virtual_column.py::test_sum_of_two_columns PASSED                   [ 16%]
test_virtual_column.py::test_multiplication_of_two_columns PASSED        [ 33%]
test_virtual_column.py::test_subtraction_of_two_columns PASSED           [ 50%]
test_virtual_column.py::test_empty_result_when_invalid_labels PASSED     [ 66%]
test_virtual_column.py::test_empty_result_when_invalid_rules PASSED      [ 83%]
test_virtual_column.py::test_when_extra_spaces_in_rules PASSED           [100%]

============================== 6 passed in 0.10s ==============================